#title {
    /* Your CSS properties here */
    color: rgb(54, 158, 255);
    font-size: 3em;
    font-family: Arial;
    text-align: center;
}
#subtitle {
    font-family: Helvetica;
    font-size: 1.4em;
    padding-left: 36px;
    padding-top: 10px;
}
#ans {
    font-family: Futura;
    font-size: 1.2em;
    padding-top:5px;
    padding-left: 12px;
}
#input {
    font-family: Futura;
    font-size: 1em;
    padding-top: 12px;
}
.EVERYTHING {
/*     script yoinked from my figure dance project */
      cursor: grab;
    /* background: radial-gradient(blue, purple, rgb(0, 149, 255)); */
    background: radial-gradient(rgb(6, 37, 102), rgb(6, 97, 97))rgb(6, 68, 97);
    /* Example gradient */

    background-size: 100% 100%;
    /* Repeat the gradient */

    animation: gradientAnimation 10s ease infinite;
    /* Animation settings */
}
