#title {
    /* Your CSS properties here */
    color: rgb(54, 158, 255);
    font-size: 3em;
    font-family: Arial;
    text-align: center;
}
#subtitle {
    font-family: Futura;
    font-size: 2em;
}
